<!DOCTYPE html>
<html>
<head>
    {% block title %}<title>Find your new home</title>{% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
   <!--  <link rel="stylesheet" type="text/css" href="/static/styles.css"> -->
</head>
<body>
    <!-- Show flashed messages -->
    {% with messages = get_flashed_messages() %}
      {% for message in messages %}
          <div class="alert alert-warning">{{ message }}</div>
      {% endfor %}
    {% endwith %}

    {% block content %} CONTENT GOES HERE {% endblock %}
</body>
</html>