{% extends 'base.html' %}
{% block content %}

<head>City Details</head>

  <title>City Details</title>

  <h4>

    
    <!-- When its just this^ it works -->

    {% for city in city_details %}

    "City name": {{ city.city_name }} <br>
    "State": {{ city.state }} <br>
    "Median home price": {{ city.prices[0].median_home_price }} <br>
    "Month-over-month sales price trend": {{ city.prices[0].sales_price_mom }}<br> <br> <br>

    {% endfor%} 
  </h4>

{% endblock %}

<!-- look at ratings lab movie details and user details  -->