{% extends "base.html" %}

{% block content %}

<!-- <body bgcolor="#4ABDAC"></body> -->

    <head>
    <meta charset='utf-8' />
    <title></title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'> </script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
    <style>
      body {
        margin: 0;
        padding: 0;
      }

      #map {
        position: relative;
        top: 0;
        bottom: 0;
        width: 100%;
      }
        .marker {
      background-image: url('../static/mapbox-icon.png');
      background-size: cover;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      cursor: pointer;
      }
      .mapboxgl-popup {
        max-width: 200px;
      }

      .mapboxgl-popup-content {
        text-align: center;
        font-family: 'Open Sans', sans-serif;
      }
    </style>
</head>
  <div class = "title">
    <div class="card-group">
    <div class="card">
    <div class="card-body">

    <h2>Here are some cities we think you should check out! </h2>
  </div>
</div>
</div>
</div>

<body>
        
    <div id='map' style='width: 1500px; height: 600px;'></div>
    <script>

    mapboxgl.accessToken = 'pk.eyJ1IjoiY2NzaW5zZiIsImEiOiJjanNjZHY2bm8wMTh1M3lud3U3M3lzZDhkIn0.r560K1qwtE2hq9VkHoUM5A';

    var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/light-v10',
      center: [-96, 37.8], 
      // Longitude, latitude 
      zoom: 3
    });

    let cityLocations = JSON.parse({{ cityLocations | tojson }});

    let features = [];

    for (const location of cityLocations) {
        let details = {
            type: "Feature",
            properties: { 
                "title": location.city_name, 
                "description": location.state,
            },
            "geometry": {
                "type": "Point",
                "coordinates": [
                    parseFloat(location.longitude),
                    parseFloat(location.latitude)
                ]
            }
        };
    
    features.push(details)
}
    console.log(features);

    var geojson = {
    type: "FeatureCollection",
    features: features,
    // features: [];

}

    var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/light-v10',
      center: [-96, 37.8], 
      // Longitude, latitude 
      zoom: 3
    });

    console.log(features);

    //add markers to map

    geojson.features.forEach(function(marker) {

        // create a HTML element for each feature
        var el = document.createElement('div');
        el.className = 'marker';

        // make a marker for each feature and add to the map
        new mapboxgl.Marker(el)
          .setLngLat(marker.geometry.coordinates)
          new mapboxgl.Marker(el)
            .setLngLat(marker.geometry.coordinates)
            .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
              .setHTML('<h3>' + marker.properties.title + '</h3><p>' + marker.properties.description + '</p>' ))
            

          .addTo(map);
      });

    console.log(geojson);

    </script>

    </body>

    {% for city in city_results %}

  <div class="card-group">
  <div class="card">
    <div class="card-body">
        <div class="row">
        <i class="fas fa-map-marker-alt"> </i><h5 class="card-title">{{city.city_name}}, {{city.state}} </h5>
    </div>
      <p class="card-text">Median home price is ${{city.prices[0].median_home_price}}.</p>
      <input type="button" onclick=location.href="/citydetails/{{ city.city_id }}" value="Learn More" />

    </div>      
    </div>
  </div>

    {%endfor%}

{% endblock %}


