{% extends "base.html" %}

{% block content %}


    <head>
    {% block title %}<title>One step closer</title>{% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/styles.css"></head>
    <h1>Search results placeholder </h1>
    <h3> city_results </h3>
    <h2>This is where the search results will populate once I figure out how to do that </h2>
    

    <img class="title-img" src="https://na.rdcpix.com/274937236/8ecb8b5c10a19ccbe1daba7bc38ec77cw-c317321xd-w685_h860_q80.jpg">
    
    <br>
    <br>
   


{% endblock %}