{% extends "base.html" %}

{% block content %}

<h1>Shows that this page is working </h1>

<!-- {{ dict_of_hist_Prices }} -->

<canvas id="myChart" width="400" height="200"></canvas>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

<!-- <script src="path/to/chartjs/dist/Chart.js"></script>
 -->

<script>
var ctx = document.getElementById('myChart').getContext('2d');

var dict_of_hist_Prices = jQuery.parseJSON( '{"name": "john"}');

console.log("helloworld");
  
let data = [];

// 

// let key = dict_of_hist_Prices[1]

// var chart = new Chart(ctx, {
//     // The type of chart we want to create
//     type: 'line',

//     // The data for our dataset
//     // DO var hist_Prices and let data need to move back here

//     // console.log(hist_Prices);

//     // for (let key of dict_of_hist_Prices) {console.log(key);}

    
//         data: {
//             labels: [key.month_count,key.year_count],
//             datasets: [{
//                 label: key.city_name, 
//                 backgroundColor: 'rgb(255, 99, 132)',
//                 borderColor: 'rgb(255, 99, 132)',
//                 data: [key.price_item],
//             }]
//         },  
    


//     // Configuration options go here
//     options: {}
// });
</script>


{% endblock %}