{% extends "base.html" %}

{% block content %}
<head>{% block title %}<title>Find your new home</title>{% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/styles.css"></head>
    <h1>Placeholder older Header for homepage</h1>
    

    <img class="title-img" src="https://na.rdcpix.com/274937236/8ecb8b5c10a19ccbe1daba7bc38ec77cw-c317321xd-w685_h860_q80.jpg">
    <form action='/get-price'>
        What's your budget for a home? 
        <input type='text' name='price' required><br>
        <input type="submit">
    </form>

{% endblock %}