{% extends "base.html" %}

{% block content %}


    <head>
    <!-- {% block title %}<title>Find your new home</title>{% endblock %} -->
    <link rel="stylesheet" type="text/css" href="/static/styles.css"></head>
    <h1>Let us help you find your new home</h1>
    <h3>Simply share a dollar amount you'd like to spend on a home <br>
    and we'll return a list of cities where you can find homes for that amount</h3>
    

    <img class="title-img" src="https://na.rdcpix.com/274937236/8ecb8b5c10a19ccbe1daba7bc38ec77cw-c317321xd-w685_h860_q80.jpg">
    
    <br>
    <br>
    <h3> Let's begin!</h3>
    <form action='/get-price' method="POST">
        What's your budget for a home? 
        <input type='text' name='price' required>
        <input type="submit" value="submit">
    </form>

{% endblock %}